.searcher-container {
  width: 709px;
  height: 37px;
  padding: 6px 13px;
  border-radius: 8px;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  gap: 13px;
}

.searcher-input-container {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.search-icon {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

input {
  border: none;
  outline: none;
  width: 100%;
}

@media (max-width: 810px) {
  .searcher-container {
    width: auto;
    height: auto;
    padding: 8px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .searcher-container {
    width: 150px;
    height: auto;
    padding: 8px;
  }

  .search-icon {
    margin-right: 8px;
    width: 12px;
    height: 12px;
  }

  input {
    width: calc(90% - 26px);
    font-size: 10px;
  }
}
