.grid-item {
  position: relative;
  width: 312px;
  height: 312px;
  border-radius: 16px;
  overflow: hidden;
}

.grid-item-hovered {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  color: #fff;
  transition: background 0.3s ease-in-out;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 76.65%);
}

.overlay-hovered {
  background-color: #0000002b;
  bottom: 0;
  color: #fff;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: flex-end;
  transition: background 0.3s ease-in-out;
  padding: 16px;
}

.play-button {
  align-self: center;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  top: 121px;
  left: 121px;
  transition: transform 0.4s ease-in-out;
}

.grid-item:hover .play-button {
  transform: scale(1.2);
}

.title-style {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.font-style {
  color: #ffffffb2;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #2980b9;
}
