.nav-container {
  align-items: center;
  background-color: white;
  box-shadow: 0px 6px 25px 0px #0000000d;
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
  width: 1, 440px;
  height: 72px;
  position: relative;
  overflow: hidden;
}

.searcher-logo-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 72px;
  gap: 48px;
}

.logo {
  background-color: white;
  box-shadow: initial;
  width: 148px;
  height: 28.3px;
  z-index: 1;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu-item {
  color: #000;
  cursor: pointer;
  font-size: 18px;
}

.menu-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

@media screen and (max-width: 850px) {


  .logo {
    background-color: white;
    box-shadow: initial;
    width: 100px;
    height: auto;
    z-index: 1;
  }
  .menu-item {
    font-size: 16px;
  }

  .menu-icon {
    width: 30px;
    height: 30px;
  }
}


@media only screen and (max-width: 600px) {
  .nav-container {
    padding: 24px;
    flex-direction: row;
    justify-content: space-around;
    min-height: 72px;
    max-height: 150px;
    overflow: hidden;
  }

  .logo {
    width: 60px;
    height: auto;
  }

  .menu-icon {
    width: 20px;
    height: 20px;
  }

  .menu-icon-hamburger {
    width: 20px;
    height: 20px;
  }

  .dropdown-menu {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 90px;
    left: 0;
    margin-left: 20px;
    justify-content: space-between;
    width: 90%;
    z-index: 100;
  }

  .dropdown-menu label {
    font-size: 12px;
  }
}
