.container {
  background-color: white;
  margin-bottom: 48px;
}

.home-container {
  padding: 0 48px;
  margin-top: 48px;
}

.home-search-label {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.home-search-label-text {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 60px;
}

@media screen and (max-width: 810px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-search-label {
    text-align: center;
    margin-bottom: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .home-search-label {
    text-align: center;
    margin-bottom: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
  }
}
